@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    background: #0375b4;
}
.title a{
    cursor: pointer;
    text-decoration: none;
}
.title span{
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    letter-spacing: 5px;
}
.header{
    height: 50px;
    width: 100%;
    background: #0375b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-button{
    height: 60px;
    justify-content: space-evenly;
    margin: 10px 0px;
}
.input-button button{
    border-radius: 5px;
    width: 60px;
    height: 25px;
    background: white;
}
.input-button input{
    height: 25px;
    text-align: center;
}
.makers-list{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.makers-list button{
    width: 100px;
}
.button-maker{
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0375b4;
}
.btn-maker{
    width: 80%;
    margin: 2px 0px;
    border-radius: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #0375b4;
    margin-top: 25px;
}   
.figure.style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
.figure-caption-style{
    color: #fff;
    text-align: center;
}
@media(min-width: 700px){
    .content {
        margin-top: 40px;
        width: 40%;
        height: 100%;
        margin-left: 30%;
        box-shadow: 1px 1px 20px 5px #006094;
    }
    .button-maker{
        width: 40%;
    }
    .title span{
        font-size: 34px;    
    }
    .input-button button{
        width: 90px;
    }
    .makers-list button{
        width: 150px;
    }
}